name: Build Packages

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-rpm:
    runs-on: ubuntu-latest
    container: oraclelinux:9
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Build Dependencies
      run: |
        dnf install -y git rpmdevtools gcc make tar dos2unix

    - name: Prepare RPM Environment
      run: |
        rpmdev-setuptree
        mkdir -p count-files-1.0
        cp count_files.sh count-files-1.0/
        tar -czvf ~/rpmbuild/SOURCES/count_files-1.0.tar.gz count-files-1.0/
        cp count_files.spec ~/rpmbuild/SPECS/
        dos2unix ~/rpmbuild/SPECS/count_files.spec
        
    - name: Build RPM
      run: |
        rpmbuild -ba ~/rpmbuild/SPECS/count_files.spec
        
    - name: Upload RPM Artifact
      uses: actions/upload-artifact@v4
      with:
        name: count-files-rpm
        path: ~/rpmbuild/RPMS/noarch/*.rpm
  build-deb:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Build Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y devscripts debhelper build-essential dos2unix
        
    - name: Prepare and Build DEB
      run: |
        cd count-files
        chmod +x count_files.sh
        chmod +x debian/rules
        dos2unix count_files.sh
        dos2unix debian/rules
        dpkg-buildpackage -us -uc -b

    - name: Upload DEB Artifact
      uses: actions/upload-artifact@v4
      with:
        name: count-files-deb
        path: "*.deb"
